body {
  font-family: Arial;
  margin: 20px;
}

.dashboard {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 20px;
}

.card {
  background: #eee;

  padding: 30px;

  border-radius: 10px;

  text-align: center;
}
