nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 15px;
  color: white;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .menu {
    display: block;
  }

  ul {
    display: none;
    flex-direction: column;
  }

  ul.active {
    display: flex;
  }
}
